.cartModal {
  /* position: fixed;
  top: 50%;
  left: 50%; */
  position: absolute;
  right: 100px;
  top: 70px;
  /* transform: translate(-50%, -50%); */
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 99;

}

.cartModal h2 {
  margin: 0 0 10px;
  font-size: 24px;
  color: #000;
}

.cartModal .cartIcon {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 50px;
  background: #e6c3d8;
  border-radius: 50%;
  margin-bottom: 10px;
}

.cartModal .cartIcon span {
  position: absolute;
  top: -5px;
  right: -5px;
  background: #d891bf;
  color: #fff;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
}

.cartModal p {
  margin: 5px 0;
  color: #888;
  font-size: 14px;
}