.loginContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #ffffff;
}

.loginHeader {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgba(128, 128, 128, 0.177);
}

.loginBody {
  padding: 40px;
  width: 460px;
  margin: 0 auto;
  h4 {
    font-size: 25px;
    font-weight: 400;
  }
}

.card {
  background: #f8f8f8;
  padding: 24px;
  border-radius: 20px;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.tabs {
  display: flex;
  gap: 8px;
}

.tabs button {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 12px;
  cursor: pointer;
  font-weight: 500;
}

.activeTab {
  border-color: #b8339f;
  color: #fff0f7;
  background-color:  #b8339f;
   flex: 1;
  padding: 10px;
  border-radius: 12px;
  cursor: pointer;
  font-weight: 500;
}

input {
  padding: 12px;
  border-radius: 12px;
  border: 1px solid #ccc;
}

.continueBtn {
  background-color: #b8339f;
  color: white;
  padding: 14px;
  border: none;
  border-radius: 30px;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}

.orDivider {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 24px 0;
  color: #9999998b;
}

.orDivider hr {
  flex: 1;
  border: none;
  height: 1px;
  background-color: #ccc;
}

.socialButtons {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.metaBtn, .googleBtn {
  background-color: #f5f5f5;
  border: none;
  padding: 14px;
  border-radius: 12px;
  font-weight: 600;
  cursor: pointer;
}
.metaBtn:hover {
  text-decoration: underline;
}
.googleBtn:hover {
  text-decoration: underline;
}
.registerBtn {
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
   font-weight: 500;
  gap: 5px;
  span {
    font-size: 14px;
  }
  a {
    font-size: 14px;
    color: #b8339f;
   
  }
}