.loginContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #ffffff;
}
.loginHeader {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgba(128, 128, 128, 0.177);
}
.loginBody {
  padding: 40px;
  width: 460px;
  margin: 50px auto;
  h4 {
    font-size: 25px;
    font-weight: 400;
  }
}
.backButton {
  font-size: 18px;
  width: 50px;
  height: 50px;
  padding: 8px;
  border-radius: 10px;
}
.backButton:hover{
  background-color: #b6359a;
  color: white;
}
.formGroup {
  background: #f8f8f88e;
  padding: 24px;
  border-radius: 20px;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.loginBody {
  background: #fff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}
.loginBody h1 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}
.formGroup {
  margin-bottom: 20px;
}
.formGroup label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}

.formGroup input[type="password"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #cccccc86;
  border-radius: 8px;
  box-sizing: border-box;
}

.continueButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  padding: 12px;
  background-color: #b6359a;
  color: #fff;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  margin: 0 auto;
}
.continueButton span {
  margin-left: 10px;
}
.passwordRequirements {
    margin-top: 20px;
  list-style: none;
  padding: 0;
  color: #4caf50;
  font-size: 14px;
  
}
.passwordRequirements li {
  margin-bottom: 5px;
}
.passwordRequirements li span {
  margin-right: 5px;
}